* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/* Home Section */

.logo {
  width: 15%;
  cursor: pointer;
}

.ham {
  height: 100vh;
  width: 100%;
  background-image: url(assets/FontImg/IMG_4780.png);
  background-size: cover;
  background-position: 0 0, center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

nav ul li {
  list-style-type: none; /* removes bullet points*/
  display: inline-block; /* makes the list vertical */
  padding: 10px 25px;
}

nav ul li a {
  color: #e5e4e2;
  text-decoration: none; /* removes the underline */
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  transition: 0.5s;
  color: #f62817;
}

.btn {
  background-color: #f62817;
  color: #ffffff;
  text-decoration: none;
  border: 5px solid transparent; /* the size of the box around the button */
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 30px;
  transition: transform 0.5s;
}

.btn:hover {
  transform: scale(1.2); /* Makes the btn enlarge when cursor hover */
}

.home {
  position: absolute;
  top: 30%;
  left: 8%;
  transform: translateY(-30%);
}
span {
  color: #f62817;
}

h1 {
  color: #0c090a;
  margin: 20px 0 20px;
  font-size: 40px;
}

h3 {
  color: #e5e4e2;
  font-size: 23px;
  margin-bottom: 50px;
}

h4 {
  color: #e5e4e2;
  letter-spacing: 3px;
  font-size: 20px;
}

/* About section  */

.about {
  width: 100%;
  padding: 100px 0;
  background-color: #191919;
}

.about img {
  height: auto;
  width: 300px;
}

.about-me {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex; /* moves the about me and text to the right */
  align-items: center;
  justify-content: space-between;
}

.about-me h2 {
  color: #e5e4e2;
  font-size: 75px;
  text-transform: uppercase;
  margin: 10px 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me h5 {
  color: #e5e4e2;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me p {
  color: #d1d0ce;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  display: block;
  margin: 10px 0 30px 30px;
}

button {
  background-color: #f62817;
  color: #ffffff;
  text-decoration: none;
  border: 5px solid transparent; /* the size of the box around the button */
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 30px;
  transition: transform 0.5s;
  margin: 10px 0 30px 220px;
}

button:hover {
  background-color: transparent;
  border: 2px solid #f62817;
  cursor: pointer;
}

/* Services */
.service {
  background: #b5a9ac;
  width: 100%;
  padding: 100px 0;
}

.title h2 {
  color: #e5e4e2;
  text-align: center;
  font-size: 60px;
  margin: 30px auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 365px;
  width: 355px;
  padding: 20px 35px;
  background: #4a4543;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0;
  color: #e5e4e2;
}

h5 {
  color: #b5a9ac;
  font-size: 23px;
  margin-bottom: 15px;
}

.atm p {
  color: #ffffff;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 25px;
}

.card .button {
  background-color: #f62817;
  color: #ffffff;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  transition: 0.5s;
}
.card .button:hover {
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #f62817;
}

/* Contact */

.contact {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact p {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact .btn1 {
  background-color: #f62817;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.5s;
}
.contact .btn1:hover {
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #f62817;
}

/* Footer */

footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social {
  display: flex;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f62817;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.end {
  position: absolute;
  color: #f62817;
  bottom: 35px;
  font-size: 14px;
}
